@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;

}

.nav-link {                                /* Estilos para los enlaces del navbar */
    color: #a7ccd1cc;
}

header{
    background-color:black;
    
}

.container-fluid{
margin: auto 7rem;
}





