main{
    background-color: black;
}


.quienes-somos{
    margin-left: auto 3rem;
}

.quienes-img{
    border-radius: 5%;
    height: 300px;
}

.quienes-text{
    font-weight: 400;
    font-size: 14px;
}

/*nombre de secciones*/
.note{
    font-size: 20px;
}

.destacados{
    width: 10rem;
}